
body
{
    background-color: var(--gray-lighter);
}


.section-center-right
{
    
    background-image: url("../../img/info01-bg.jpg") ;
    background-position: center; 
    background-size: cover;
    background-color: var(--gray-lighter);
}

.section-center-left
{
    background-image: url("../../img/info02-bg.jpg") ;
    background-position: center; 
    background-size: cover;
    background-color: var(--gray-lighter);
}


.img-header
{
    height: 500px;
    background: url(../img/header.png) no-repeat  center;
    background-size: cover;
}


.p-top-subtitle
{
    font-size: 10;
}


.carousel-top
{
    max-width: 400px;
}


.fa-check
{
    color: var(--pink-middle);
    font-size:20px;
}